# Entorno virtual
venv/
.env/

# Mantener carpeta pero ignorar todo el contenido
videos/*
!videos/.gitkeep

# Base de datos local – no subir
camframe.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.tmp

# VSCode
.vscode/

# PyCharm
.idea/

# Compilados
build/
dist/
*.egg-info/

# MediaMTX configuración local
mediamtx.yml

# Archivos del sistema
.DS_Store
