<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Videos</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Tu estilo base -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="page-bg">
    <div class="container mx-auto p-6">
        <h1 class="title mb-4">Lista de videos</h1>


        {% if videos %}
        <ul class="space-y-4">
            {% for v in videos %}
            <li class="p-4 border rounded card-container">
        
                <div class="flex justify-between items-center">
                    <strong>{{ v.nombre }}</strong>
        
                    {% if v.is_streaming %}
                        <span class="badge badge-active">Activo</span>
                    {% else %}
                        <span class="badge badge-inactive">Inactivo</span>
                    {% endif %}
                </div>
        
                <div class="mt-2">
                    <a href="{{ v.ruta }}" target="_blank" class="link">Ver archivo</a>
                </div>
        
                <div class="mt-3">
                    {% if v.is_streaming %}
                    <!-- Si está activo: botón de detener -->
                    <form action="/stream/stop/{{ v.id }}" method="get">
                        <button class="btn-primary btn-danger">
                            ■ Detener Stream
                        </button>
                    </form>
        
                    {% else %}
                    <!-- Si está apagado: botón de iniciar -->
                    <form action="/stream/start/{{ v.id }}" method="get">
                        <button class="btn-primary">
                            ▶ Iniciar Stream
                        </button>
                    </form>
                    {% endif %}
                </div>
        
                <p class="mt-3 muted">
                    RTSP: <code>rtsp://localhost:8554/{{ v.stream_key }}</code>
                </p>
        
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No hay videos subidos.</p>
        {% endif %}
        
        



        <div class="mt-6">
            <a href="/upload" class="link">Subir nuevo video</a>
        </div>
    </div>
</body>
</html>
